	#header {
		background-color: #ffffff;
	}
	body {
		color: black;
	}
	#header .logo {
		border: 0;
		display: inline-block;
		font-size: 0.8em;
		height: inherit;
		line-height: inherit;
		padding: 0 1.5em;
		height: 77%;
		margin: 10px 0px 0px;
	}

	#header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23000000%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
	}

	#header nav a[href="#menu"]:after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %230790b7%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
	}

	#banner {
		background-image: url("../../images/banner_new.png");
	}

	#banner:after {
		background-color: #aebfce7a;
		opacity: 0.75;
	}

	#banner.style2:after {
		background-color: #aebfce7a;
		opacity: 0.75;
	}

	#banner h1 {
		color: black;
	}

	header.major > :first-child:after {
		background-color: black;
	}

	.content {
		color: black;
	}

	.button {
		color: black;
		box-shadow: inset 0 0 0 2px #000000;
	}

	.link {
		color: black;
	}

	.major {
		color: #313131;
	}

	input[type="submit"].next:before,
	input[type="reset"].next:before,
	input[type="button"].next:before,
	button.next:before,
	.button.next:before {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23000000%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
	}

	input[type="submit"].next:after,
	input[type="reset"].next:after,
	input[type="button"].next:after,
	button.next:after,
	.button.next:after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %230790b7%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
	}
	a:hover {
		color: #0790b7 !important;
	}

	.button:hover {
		box-shadow: inset 0 0 0 2px #0790b7;
	}

	#two {
		background-color: white;
	}
	h1, h2, h3 {
		color: black;
	}

	.inner p {
		color: black;
	}

	.icon.alt:before {
		background-color: black;
		color: white;
	}

	.icon.alt.fa-twitter:before {
		background-color: black;
		color: white;
	}

	.icon.alt.fa-facebook:before {
		background-color: black;
		color: white;
	}

	.icon.alt.fa-instagram:before {
		background-color: black;
		color: white;
	}

	.icon.alt.fa-github:before {
		background-color: black;
		color: white;
	}

	.icon.alt.fa-linkedin:before {
		background-color: black;
		color: white;
	}

	label {
		color: black;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="tel"]:focus,
	input[type="search"]:focus,
	input[type="url"]:focus,
	select:focus, 
	textarea:focus {
		border-color: #636363;
		box-shadow: 0 0 0 2px #636363;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	input[type="search"],
	input[type="url"],
	select,
	textarea {
		background: rgba(183, 183, 183, 0.4);
		border: #636363 solid 1.5px
	}

	#contact {
		background-color: white;
	}

	input[type="submit"].special,
	input[type="reset"].special,
	input[type="button"].special,
	button.special,
	.button.special {
		color: white;
		background-color: black;
	}

	input[type="submit"].special:hover {
		background-color: #0790b7;
		color: #ffffff !important;
	}

	input[type="reset"]:hover {
		box-shadow: inset 0 0 0 2px #0790b7;
		color: #0790b7;
	}

	input[type="reset"] {
		box-shadow: inset 0 0 0 2px #000000;
		color: #000000;
	}

	a.icon.alt.fa-twitter:hover:before {
		background-color: #00aced;
	}

	a.icon.alt.fa-facebook:hover:before {
		background-color: #3b5998;
	}

	a.icon.alt.fa-instagram:hover:before {
		background-color: #cd486b;
	}

	a.icon.alt.fa-github:hover:before {
		background-color: #bd2c00;
	}

	a.icon.alt.fa-linkedin:hover:before {
		background-color: #4875B4;
	}

	footer {
		background-color: #f1f1f1;
	}

	#menu {
		background: rgba(188, 190, 197, 0.8);
	}

	.button.special:hover {
		background-color: #0790b7;
		color: #ffffff !important;
	}

	#menu .close:before {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23000000%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
	}

	#menu .close:after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %230790b7%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
	}

	#main {
		background-color: #ffffff;
	}

	#main.alt {
		background-color: #ffffff;
		border-bottom: solid 1px rgba(212, 212, 255, 0.1);
	}

	.slideshow-container {
		position: relative;
		margin: auto;
		max-width: 100%
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: #000000;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		border-bottom: none 0px;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover {
		background-color: rgba(255, 255, 255, 0.35);
	}

	.fade {
		animation-name: fade;
		animation-duration: 2s;
	}

	@keyframes fade {
		from {opacity: .25}
		to {opacity: 1}
	}

	.select-wrapper :focus {
		border: #636363 solid 2px;
	}
	input[type="checkbox"] + label, input[type="radio"] + label {
		color: black;
	}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background: #e8e8e8;
		border-color: #797979;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		box-shadow: 0 0 0 2px #797979;
	}

	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
		background: rgba(4, 4, 4, 0.35);
	}

	#menu ul.links > li > a:not(.button) {
		border-top: solid 1px rgba(0, 0, 0, 0.35);
	}

	.spotlights > section >.content {
		background-color: #e0e0e0;
	}

	.is-menu-visible {
		overflow: hidden;
	}

	a {
		border-bottom: none 0px;
	}

	#banner > .inner header > :first-child:after {
		max-width: 54%;
	}


	#banner {
		background-size: 100% auto;
	}

	.topnav input[type=text] {
		margin-top: 10px;
		margin-right: 0%;
		font-size: 17px;
		width: 17%;
		float: right;
		height: 47px;
		right: 9%;
		position: absolute;
	}

	#banner > .inner {
		padding-bottom: 200px !important;
	}

	::-webkit-input-placeholder {
		color: rgba(51, 51, 55, 0.6) !important;
		opacity: 1.0;
	}

	#searchicon {
		background: url("../../images/maginifying_glass.png") left no-repeat;
		padding-left: 37px;
		background-size: 8%;
		opacity: 0.6;
		background-position-x: 10px;
	}

	.signin {
		width: 13%;
		display: block;
		margin: auto;
		margin-top: 4%;
		margin-bottom: 4%;
	}

	signintext {
		margin: auto;
		display: block;
		overflow: hidden;
		float: none;
	}

	#sign_in {
		background: rgba(188, 190, 197, 0.8);
	}